body {
  background-color: #ffcc70;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.container {
  height: 420px;
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
}

.inp {
  height: 80px;
  background-color: white;
  width: 423px;
  font-size: 30px;
  text-align: right;
  padding: 10px 30px;
  border:none;
  border-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.btn {
  width: 121px;
  /* margin: 3px; */
  height: 80px;
  border: 1px solid #ff6ac2;
  background-color: #fdf0f0;
  color: black;
  font-size: 25px;
  font-style: bold;
  cursor: pointer;
}
.options {
  margin-top: 0px;
  text-align: center;
}
.btnspl {
  background-color: #f1b4bb;
  color: white;
}
.btnsplspl {
  background-color: #EF9595;
  width: 363px;
  color: white;
}
.btn:hover {
  background-color: silver;
}

